<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="tcn.css" />
    <link rel="stylesheet" href="script.js" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <form action="/post-crud" method="POST">
      <div>
        <label for="inputEmail">Email</label>
        <input type="email" placeholder="email" name="email" />
        <button type="submit">button</button>
      </div>
      <div>
        <label for="inputPassword">Password</label>
        <input type="password" placeholder="password" name="password" />
      </div>
    </form>
  </body>
</html>
